<form #employeeForm="ngForm" (ngSubmit)="saveForm(employees)">
<div >
  <label>FullName</label><br>
  <input type="text" id="name" name="name" [(ngModel)]="employees.name"><br>

  <label>Email</label><br>
  <input type="text" id="email" name="email" [(ngModel)]="employees.email"><br><br>

  <label>Gender</label><br>
  <label>Male
  <input type="radio" value="male" name="gender" [(ngModel)]="employees.gender" checked><br></label>
  
  <label>Female
  <input type="radio" value="female" name="gender" [(ngModel)]="employees.gender"><br></label><br><br>

  <label>
    <input type="checkbox" name="isActive" [(ngModel)]="employees.isActive">Is Active </label><br><br>

  <label>Department</label><br>
  <select id="department" name="department" [(ngModel)]="department">
    <option *ngFor="let dept of departments" [value]="dept.id">{{ dept.name }}</option>
    </select><br><br>

    <label>Date of Birth></label><br>
    <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="employees.dateOfBirth" type="datetime-local" bsDatePicker><br><br>

    <label>PhotoPath</label><br>
    <input id="photoPath" type="text" name="photoPath" [(ngModel)]="employees.photoPath"><br>
    
    <div>
      <button type="button" (click)="togglePhotoPreview()">
        {{ previewPhoto ? "Hide " : "Show "}} Preview
        </button><br><br>
      </div>



  <button type="submit">Save</button>

</div>
</form><br>

Angular generated form model : {{ employeeForm.value | json }}
<br>
<br>
Employee Model : {{ employees | json}}